# This field be symlinked from .env since that is the only env file that
# docker-compose uses for interpolation in the compose file itself.
OAUTH_CLIENT_ID=client_id_here
OAUTH_CLIENT_SECRET=secret_here
